---json
{
  "permalink": "tweets.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Steven Hicks tweetable posts",
    "subtitle": "Ramblings on development, life, and the development life.",
    "url": "https://stevenhicks.me",
    "feedUrl": "https://stevenhicks.me/tweets.xml",
    "author": {
      "name": "Steven Hicks",
      "email": "steven.j.hicks@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ metadata.feedUrl }}" rel="self"/>
	<link href="{{ metadata.url }}/tweets"/>
	<updated>{{ collections.tweetablePostsReversed | lastUpdatedDate }}</updated>
	<id>{{ metadata.feedUrl }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.tweetablePostsReversed %}
		{% set absolutePostUrl %}{{ metadata.url }}{{ post.url}}{% endset %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.date | rssDate }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content type="text">{{ post.data.tweet }}

				{{ absolutePostUrl }}</content>
		</entry>
	{%- endfor %}
</feed>