---
title: About - Steven Hicks
date: 2017-02-11
layout: layout
metaDescription: All about Milwaukee developer Steven Hicks.
---


h1.about About Me!
    br.mobile-only
    a(href='//twitter.com/pepopowitz')
        i.fa.fa-twitter-square(aria-hidden='true')
        span.sr-only
            | @pepopowitz on Twitter
    a(href='//github.com/pepopowitz')
        i.fa.fa-github-square(aria-hidden='true')
        span.sr-only
            | pepopowitz on GitHub
    a(href='//www.linkedin.com/in/stevenjhicks')
        i.fa.fa-linkedin-square(aria-hidden='true')
        span.sr-only
            | Steven Hicks on LinkedIn
    a(href='mailto:steven.j.hicks@gmail.com')
        i.fa.fa-envelope-square(aria-hidden='true')
        span.sr-only
            | Steven Hicks's email
div.about
    div.bio
        p I’m a problem solver and lifetime learner with over 25 years of software development experience. I am a compassionate collaborator who loves to learn and to help others grow.
        p I am a manager of one. I level others up. I remove ambiguity and friction. I am a glue person. I thrive on uncertainty. I cultivate culture. I find gaps and fill them. I break problems down. I radiate intent. I wear the hat that the team needs me to wear.
        p As much as I love development, I love the outdoors even more. I am outside almost the entire time from April to November. I'm trying to be outdoors more in the winter, too. 
        p When I'm outside in the summer I'm playing disc golf, running (preferably on trails), cycling, and camping with my wife and kids. In the winter, I'm playing disc golf or skate skiing (poorly).
        p I'm almost always working on an art project or two.
        
